/* body {
    background: #333;
} */

#box-timeline {
    width: 100%;
    height: 1500px;
    /* background: #f1f1f1; */
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
}

.ligne {
    height: 6400px;
    width: 8px;
    margin: 0 auto;
    background: #333;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    border: 1px solid #000;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}


/* 1000 - 160 + 80 / 3 =~ 306 */
.r1 {
    top: 80px;
    background-image: url('calcifer_emoji.png');
    background-size: contain;
}

.box {
    color: #333;
    width: 300px;
    /* min-height: 200px; */
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
}

.box:hover{
    opacity:0.5;
}

.b1 {
    top: 80px;
    left: calc(50% - 270px);
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
    font-family: Impact;
}

.box a {
    color: #000;
    font-family: Impact;
}

a:link {
    text-decoration: none;
}

a:hover {
    padding-top: 0;
    text-decoration: underline;
}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Jost', sans-serif;
}

h1 {
    text-align: center;
    padding: 240px 0;
    color: #f1f1f1;
}





.btn {
    display: block;
    /* background: midnightblue; */
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {

    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px)
    }

}
