/* body {
    background: #333;
} */

header {
    margin: 1% 10% 10% 10%;
}


#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ghibli_logo {
    width: 100%;
}

#box-timeline {
    /* width: 100%; */
    margin: 1% 10%;
    /* height: 1500px; */
    /* background: #f1f1f1; */
    position: relative;
    padding: 80px 0 450px 0;
    /* margin-bottom: 100px; */
}

.ligne {
    height: 6400px;
    width: 8px;
    margin: 0 auto;
    background: #333;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    border: 1px solid #000;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}


/* 1000 - 160 + 80 / 3 =~ 306 */
.r1 {
    top: 80px;
    background-image: url('calcifer_emoji.png');
    background-size: contain;
}

.box {
    color: #333;
    min-width: 250px;
    /* width: 300px; */
    /* min-height: 200px; */
    /* padding: 20px; */
    padding: 5px 20px;
    border-radius: 3px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
}

.box:hover {
    opacity: 0.5;
}

.b1 {
    top: 80px;
    left: calc(50% - 270px);
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
    font-family: Impact;
}

.box a {
    color: #000;
    font-family: Impact;
}

a:link {
    text-decoration: none;
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.box a {
    color: #000;
    font-family: Impact;
}

a:link {
    text-decoration: none;
}

a:hover {
    padding-top: 0;
    text-decoration: underline;
}